name: CI

on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        node: [24]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} - Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Lint
        run: npm run lint
      - name: Format
        run: npm run format:check
      - name: Test
        run: npm run test
      - name: Coverage
        run: npm run coverage
      - name: Mutation Tests
        run: npm run mutate
      - name: Make scripts executable
        run: |
          chmod a+x ./examples/recreate.sh
          chmod a+x ./out/index.js
      - name: Recreate example SVGs
        run: ./examples/recreate.sh